* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.img-principal {
    width: 70%;
    padding-bottom: 20px;;
}

a:hover {
    color: #7530cf;    
}

p {
    color: #fff;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    background: radial-gradient(#0088F0, #7530cf);
}

header .row {
    margin-top: 85px;
}

.carrinhoCompra {
    width: 30px;
    height: 30px;
}

.carrinhoCompra:hover {
    opacity: 0.5;
}

.categorias {
    margin: 70px 0px;
}

.col-3 {
    flex-basis: 20%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 h3{
    text-align: center;
    padding-top: 10px;
}

.titulo {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #7530cf;
    font-size: 30px;
}

.titulo::after {
    content: '';
    background: #0088F0;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-3:hover{
    transform: translateY(-10px);
}

footer {
    background: #38a1f1;
}

.footerCarrinho {
    position: absolute;
    bottom:0;
    width:100%;
    background: #38a1f1;
}

.menu {
    width: 30px;
    margin-left: 20px;
    display: none;
}

.col-2 {
    flex-basis: 35%;
    padding: 30px;
    min-width: 250px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-2 img {
    margin-left: 28%;
    width: 50%;
}

.col-2 p {
    color: black;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
}

.col-2 h3{
    text-align: center;
    padding-top: 10px;
}

.col-2:hover{
    transform: translateY(-10px);
}

.carrinho {
    margin: 95px auto;
}

.small-container-carrinho {
    width: 85%;
    margin-left: 7%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.infocarrinho {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

tr th {
    text-align: left;
    padding: 5px;
    color: black;
    background: #38a1f1;
    font-weight: normal;
}

tr td {
    padding: 50px 10px;
}

.infocarrinho p{
    color: black;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td img {
    margin-right: 10px;
    width: 20%;    
}

.info-empresa{
    margin: 0px 0px;
    
}

.info-empresa marquee h1 {
    text-align: center;
}

.info-empresa p {
    color:black;
    text-align: center;
    margin-top: 30px;
}

.mapa{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.mapa ifram {
    left:0;
    top:0;
    height:100%;
    width: 100%;
    position:absolute;
}

.footer-sobre{
    background: radial-gradient(#0088F0, #7530cf);
}

.fotos{
    text-align: right -30px;
    width: 200px;
    height: 200px;
}

.fotos .col-1 img{
    width: 100%;
    padding: 15px;
}

.fotos .col-1 h3{
    text-align: center;
}

.informacoes{
    display: flex;
    padding: 30px;
    padding-bottom: 30px;
}

.sobre-geral{
    margin: 95px auto;
    flex: wrap;
}

.contato {
    margin: 20px 0px;
    text-align: center;    
}

.containerForm {
    width: 50%;
    margin: 0 auto;
  }
  
  .form-contato {
    width: 100%;
    font-family: "Arial", Times, serif;
  }
  
  .form-contato-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  .form-contato-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }
  
  .form-contato-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: radial-gradient(#0088F0, #7530cf);
    display: block;
    border: none;
    border-bottom: 1px solid #0088F0;
    border-right: 1px solid #7530cf;
  }
  
  .form-contato-button:hover {
    opacity: 2;
  }

  .tituloC {
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #7530cf;
    font-size: 30px;
}

.tituloC::after {
    content: '';
    background: #0088F0;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tituloPC {
    text-align: center;
    margin: 0 auto 15px;
    position: relative;
    line-height: 60px;
    color: #7530cf;
    font-size: 30px;
}

.tituloPC::after {
    content: '';
    background: #0088F0;
    width: 460px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*
ALINHANDO ITENS PC
*/

.rowPC {
    flex-basis: 35%;
    padding: 0px;
    min-width: 250px;
    margin-bottom: 40px;
}

.col-5 {
    flex-basis: 35%;
    padding: 30px;
    min-width: 250px;
    margin-bottom: -50px;
}

.col-6 {
    margin-left: 30%;
    margin-top: 0.035%;
    width: 40%;
    height: 100%;
    background-color: #0088F0;
    border: 3px solid;
    border-color:#26313a;
}

.col-6 h6 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-7 {
    margin-left: 30%;
    width: 40%;
    height: 100%;
    background: radial-gradient(#0088F0, #7530cf);
    border: 3px solid;
    border-color:#26313a;
}

.col-7 img {
    margin-left: 30%;
    margin-top: 2%;
    width: 40%;
}

.form-pc {
    margin-left: 30%;
    margin-top: 0.5%;
    width: 40%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }

  .form-pc-button {
    margin-left: 25%; 
    width: 50%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 15px;
    cursor: pointer;
    background: radial-gradient(#0088F0, #7530cf);
    display: block;
    border: none;
    border-bottom: 1px solid #0088F0;
    border-right: 1px solid #7530cf;
  }
  
  .form-pc-button:hover {
    opacity: 2;
  }

  .sup-icon {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: 3%;    
  }

  .sup-icon:hover {
    transform: translateY(-5px);    
    opacity: 0.5;
  }

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 85px;
        left: 0;
        background: transparent;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: black;
    }
    menu {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2 .col-3 {
        flex-basis: 100%;
    }
}    